body {
    background-color: beige;
}

img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: auto;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

h2 {
    color: black;
    font-family: sans-serif;
    text-align: justify;
}

h3 {
    color: black;
    font-family: sans-serif;
}

a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
